/* MySideNav component */

#my-side-nav {
  position: sticky;
  top: 10px;
  left: 10px;

  .nav-link:hover {
    text-decoration: underline;
  }

  .active {
    color: white;
    background-color: #007bff;
    &[href='#/mt-dna-public'] {
      background-color: palevioletred;
    }

    &[href='#/y-dna-public'] {
      background-color: royalblue;
    }
  }
}
